/*Background image*/
.wellardimage {
    border-radius: 4px;
    max-width: 100%;
}

/*Navigation styling*/
.nav {
    text-align: center;
    background-color: #2a3019;
    padding: 12px;
    border-radius: 4px;
    position: sticky;
    top: 0;
    margin-top: 5px;
    object-fit: scale-down;
    max-width: 100%;
}

/*Button Styling */
.button {
    background-color: #5c6b28;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    align-items: center;
    transition-duration: 0.4s;
    object-fit: scale-down;
}

.button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   color: #a47e4f;
}

.button2 {
    background-color: #2a3019;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    align-items: center;
    transition-duration: 0.4s;
}

.button2:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   color: #a47e4f;
}


.welcome {
    text-align: center;
}

.welcome2 {
    text-align: center;
    
}

/*Footer Styling*/
.footer {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}




/*Contact template*/

.contactform {
    background-color: #5c6b28;
    border: #2a3019 3px solid;
    border-radius: 4px;
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-top: 10px;


}



/*Photo Styling*/
.landscape1 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.landscape2 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}


.tree1 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}



.tree2 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}


.rock1 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}



.rock2 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.junktree1 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.junktree2 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 450px;
    max-height: 900px;
    object-fit: scale-down;
}

.door1 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.door2 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.door3 {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 617px;
    max-height: 617px;
    max-width: 100%;
}

.hivis {
    border: #2a3019 solid 3px;
    border-radius: 4px;
    max-width: 630px;
    max-height: 617px;
    max-width: 100%;
}


/*Service Page Styling*/
.service {
    padding: 1px;
    padding-top: 3px;
    border: 3px;
    border-color: #5c6b28;

    
}


/*Logo Styling*/
.wellardimg {
    border-radius: 20px;
    border: #2a3019;
    border-width: 4px;
}

/*Contact Page Pictures & Styling*/

.family {
    max-width: 600px;
    max-height: 600px;
    border: #2a3019;
    border-radius: 4px;
    max-width: 100%
    
}

.container1 {
    font-weight: bold;
}


/*Main Page*/
.main {
    border: 3px;
    border-color: #5c6b28;

}










